{
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "node": true
    },
    "globals": {},
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "settings": {},
    "extends": "streamroot"
}
